# 忽略的目录
01-Diary/
02-Reading/
03-Projects/98-test/
08-Assets/Scripts/__pycache__/
.trash/

# 忽略的文件
08-Assets/Scripts/MyLibrary.bib
.obsidian/workspace
.obsidian/plugins/recent-files-obsidian/data.json